
<div class="page-content">
	<div class="product-page">
		<div class="product-desc">
			<div class="product-desc-image">
				<img src="{{%IMAGE%}}" width="280" height="320" alt="iPhone SE">
			</div>

			<div class="product-details-info">
				<h1>{{%NAME%}}</h1>
				<h2>${{%PRICE%}}</h2>

				<div class="product-desc-deatils">
					<h3>Product Details</h3>
					<p class="product-desc-p">{{%SIZE%}}</p>
					<p class="product-desc-p">{{%CAMERA%}}</p>
					<p class="product-desc-p"><b>Model Number:</b> {{%MODELNO%}}/A</p>
					<p class="product-desc-p"><b>Model Name:</b> {{%MODELNAME%}}</p>
					<p class="product-desc-p"><b>ROM:</b> {{%ROM%}}</p>
				</div>

				<div class="product-detais-desc">
						<h3>Product Description</h3>
						<p class="product-desc-p">
							{{%DESC%}}
						</p>
				</div>

				<a href="/products" class="btn-back">← Back</a>
			</div>
		</div>
	</div>
</div>